@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
  width: 0.5rem;
  overflow: none;
}
::-webkit-scrollbar-track{
  background-color: #242942;
  margin-block: 0.25em;
  border-radius: 0.3em;
}
::-webkit-scrollbar-thumb{
  background-color: white !important;
  background: white;
  background: white;
  border-radius: 0.3em;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scrollbar-color: #00c6ff #242942;
  overflow-x: none;
  overflow-y: scroll;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
